.nav-section {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  display: flex;
  justify-content: space-between;
  padding: 11px;
  padding-left: 45px;
  padding-right: 45px;
}
.logo {
  height: 30px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.score-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
span {
  font-weight: 500;
  color: white;
}
li {
  font-weight: 500;
  color: white;
  padding-right: 40px;
}
